section{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  section .spinner-dots span{
    position: absolute;
    height: 15px;
    width: 15px;
    background: gray;
    border-radius: 50%;
    transform: rotate(calc(var(--dot) * (360deg / 9))) translateY(35px);
    animation: animate 1.5s linear infinite;
    animation-delay: calc(var(--dot) * 0.1s);
    opacity: 0;
  }

  @keyframes animate {
   0%{
     opacity: 1;
   }
   100%{
     opacity: 0;
   }
  }
